<!DOCTYPE html>
<html>
<head>
    <title>Yelp User Pattern Analysis and Recommender System</title>
    <link rel="stylesheet" href="/static/lib/css/dc.css">
    <link rel="stylesheet" href="/static/lib/css/leaflet.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/static/lib/css/leaflet.awesome-markers.css">
    <link rel="stylesheet" href="/static/lib/css//bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/css/keen-dashboards.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    
</head>
<body class="keen-dashboard">
<style>
    #loading { display: none; }
</style>
<nav class="navbar navbar-toggleable-md navbar-light fixed-top" style="background-color: #c41200;">
        <a class="navbar-brand" href="/user/{{user_id}}">Yelp User Pattern Analysis</a>   
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                    <a class="nav-link" href="/"+ style="color: #ffffff;">Home</a>
            </li>                  
            <li class="nav-item">
                <a class="nav-link" href="#"+ style="color: #ffffff;">Recommender System</a>
            </li>          
            </ul>
        </div>
 </nav>

<div class="container-fluid">
<!--<div class="row"><h2>Recommend new businesses to the user!</h2><p id="uid">{{user_id}}</p></div>-->
<p hidden id="uid">{{user_id}}</p>
<div class="row">
    <div class="col-sm-4">
    <div class="row">
    <div class="chart-wrapper">
    <div class="chart-title">
           <h5> Recommend new Business to the user!</h5>
    </div>       
    <div class="chart-stage"> 
    <form class="form-inline">
    <div class="form-group">
            <label class="mr-sm-2">Category</label>
            <select class="mb-2 mr-sm-2 mb-sm-0" id = "type">
                <option>Restaurants</option>
                <option>All</option>
            </select>
     </div>                   
    <div class="form-group">
            <label class="mr-sm-2">Top N</label>
            <select class="mb-2 mr-sm-2 mb-sm-0" id = "num">
                <option>5</option>
                <option>10</option>
                <option>15</option>
            </select>
    </div>   
    <div class="form-group"><button type="button" class="btn btn-primary" onclick="recommend()">Recommend</button></div>  
    </form> 
    <div id="loading"><img src="http://i1267.photobucket.com/albums/jj559/rizkytanjo96/loading.gif" /></div>
    </div>
    </div>               
    </div>   
    <div class="row">
        <div class="chart-wrapper">
                <div class="chart-title">
                        Recommend Results:
                </div> 
            <div class="chart-stage"> 
                    <table class="table table-hover table-striped dc-data-table "+ style="font-size:12px;"></table>
            </div>
        </div>
    </div>
    </div>

    <div class="col-sm-8">
        <div class="chart-wrapper">
                <div class="chart-title">
                        Map
                </div> 
            <div class="chart-stage"> 
           <div id="map" style="width: 850px; height: 700px"></div>
            </div>
        </div>
    </div>
</div>

</div>

<script src="/static/lib/js/crossfilter.js"></script>
<script src="/static/lib/js/d3.js"></script>
<script src="/static/lib/js/dc.js"></script>
<script src="/static/lib/js/d3-queue.js"></script>
<script src="/static/lib/js/leaflet.js"></script>
<script src="/static/lib/js/leaflet.awesome-markers.js"></script>
<script src="/static/lib/js/underscore-min.js"></script>
<script src="/static/lib/js/keen.js"></script>
<script src="/static/lib/js/p5.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src='/static/js/recommend.js' type='text/javascript'></script>
</body>
</html>